
<%= link_to "Add students" ,new_cohort_student_path(@cohort), class: "btn btn-primary"%>

<div class="little-nav">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <span class="past-links"> <%= link_to "#{@course.name}", course_path(@course) %></span> >> <span class="past-links">The<strong> "<%= @cohort.name %>"</strong> cohort</span>
    </div>
  </div>
</div>

<div class="container">
<span>Instructor:<h2 class="teacher-info">-<%= link_to "#{@teacher.first_name.capitalize}", cohort_teacher_path(@cohort) %> <%= @teacher.last_name %>-</h2>
<p class="cohort-time"> <%= @cohort.start_date.strftime("%y/%m/%d") %> - <%= @cohort.end_date.strftime("%y/%m/%d") %></p></span>
</div>

<!-- <div class="container">
          <%#= image_tag "pencil_noir.png", class: "black-pencil" %>
</div> -->
<div class="container">
<h3>Students</h3>
<% @student.each do |s| %>
<p><%= s.first_name %> <%= s.last_name %></p>
<% end %>

</div>
