<h1>login</h1>

<%= form_tag(access_login_path, :method => :post) do  %>
 <%= label_tag(:username) %>
 <%= text_field_tag(:username, params[:username]) %><br>

 <%= label_tag(:password) %>
 <%= password_field_tag(:password, params[:password]) %><br>
 <%= submit_tag('log in') %>
 <% end %>
