<h1>Teachers</h1>



<h2> <%= @cohorts.teacher.first_name%>
<%= @cohorts.teacher.last_name %></h2>
<h2><%= @cohorts.teacher.education %></h2>
<h3><%=@cohorts.teacher.age%></h3>
<p>$<%=@cohorts.teacher.salary%></p>

