  <% if session[:admin_id] %>
<%= link_to "Add a course", new_course_path, class: "btn btn-success" %>
<% else %>




<% end %>

<% if session[:admin_id] || session[:teacher_id]  %>
 <%= link_to "Log out", logout_path, method: :delete, class: 'btn btn-danger logout' %>
<% end %>




<% @courses.each do |c| %>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-4 col-xs-12">
        <div  class="course">
          <span id="cross" class="delete"><%= link_to '&times;'.html_safe,course_delete_path(c), method: :delete,  data:  {confirm: 'are you Sure ?', remote: true}, class: 'eliminate' %></span>
        <h3 id="card-name"><%=link_to "#{c.name.capitalize}", c %>  </h3>
        <p class="course-hours"><%= c.total_hours %>hrs</p>
      </div>
      <% if session[:admin_id] %>
      <span id="edit-tag"> <%= link_to 'Edit this course', edit_course_path(c), class: 'btn btn-primary' %></span>
      <% end %>
    </div>
    <% end %>
  </div>
</div>


