 <%= link_to "add cohort & teacher", new_course_cohort_path(@course), class: "btn btn-primary" %>



<h1 class="course-title"><%= @course.name %></h1>
<!--   <p><%#= @course.total_hours %>hrs</p> -->
<!-- <h2><%#= @cohort.name %></h2> -->
<% @cohort.each do |c| %>
<p><%= link_to "#{c.name}", course_cohort_path(@course, c) %></p>
<p><%= c.start_date %></p>
<p><%= c.end_date %></p>
<% end %>
<hr>

<%#= link_to "Add students to this course", new_course_student_path(@course), class: 'btn btn-success' %>
<% @student.each do |s| %>
<h3><%= s.first_name %> <%= s.last_name %></h3>
<% end %>


